@import url('https://fonts.googleapis.com/css2?family=Grandiflora+One&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  font-family: "Lora", serif;
}

.warm-footer {
    background-color: transparent;
    color: #5a3e36; /* Rich brown text */
    text-align: center;
    padding: 20px;
    font-family: 'Lora', serif;
    font-size: 1.2rem;
    border-top: 2px solid #d8b4a0;
}

.warm-footer p {
    margin: 0;
}
